#homeLink {
  color: black; }

#aboutusLink {
  color: black; }

.fa-heart {
  color: red; }

div.descriptionGroup {
  padding: 0px 0px 15px; }

div.descriptionGroup .descriptionTabRow {
  padding: 0px 20px 5px;
  display: none; }

.descriptionTabCol {
  padding: 20px;
  border-left: 3px solid #3fc1c9; }

.department {
  color: #80FFDB; }

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  .navbar .nav-item {
    margin-left: 40px; }
  .navbar .nav-item.active {
    border-bottom: 3px solid #3fc1c9; }

.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.row-content {
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  border-bottom: 1px ridge;}

.description {
  margin: 0px auto;
  padding: 25px 0px 25px 0px; }

.footer {
  padding: 30px 0px 0px 0px;
  background-color: #FFFFFF;
  margin: 0px; }

.jumbotron {
  padding: 120px 30px 120px 30px;
  margin: 0px auto;
  background: #FFFFFF;
  color: #050505;
  height: 900px; }
  .jumbotron .head-text {
    position: relative;
    top: 110px;
    color: #364f6b; }

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0; }

.body-page {
  background-color: #EEEEEE;
  color: black; }

.main-body {
  position: relative !important; }

.person-note {
  background-color: white;
  padding: 20px; }



.media-body{
  padding:20px;
  align-self: center;
}
